$font-main: Montserrat, sans-serif;
$font-secondary: Lato, sans-serif;
$main-active-color: #8d81ac;
$main-light-color: #ffffff;
$main-text-color: #848e97;
$footer-text-color: #a291a5;
$footer-decor-color: #645766;
$footer-col-bg:#4b3b4e;
$footer-col-bg-second:#5f5161;
$foter-btn-col:#776b79;


